<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * @author    X2Y.io Dev Team
 * @copyright Copyright (c) X2Y.io, Inc. (https://x2y.io/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="x2y_float_payment_section_save" instance="X2Y\FloatPayments\Observer\LoginAfterPaymentSectionSave"/>
    </event>
</config>
